.button-v2 {
  display: grid;
  place-content: center;
  height: 46px;
  padding-inline: 1rem;

  font-family: var(--ff-main);
  font-weight: 500;
  font-size: var(--fz, 14px);
  line-height: 1;
  font-feature-settings: 'case' on;
  text-decoration: none;

  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &--block {
    color: #fff !important;
    background-color: var(--clr-brand);
    transition: all 150ms ease-in-out;

    &:hover {
      color: #fff;
      background-color: var(--clr-brand-hover);
    }
  }

  &--blue {
    color: #fff;
    background-color: var(--clr-blue);
    transition: all 150ms ease-in-out;

    &:hover {
      background-color: var(--clr-blue-hover);
      color: #fff;
    }
  }

  &--outline {
    color: #32394d;
    border: 1px solid hsla(224, 21%, 25%, 0.6);
    transition: border-color 150ms ease-in-out;

    &:hover {
      border-color: hsl(224, 21%, 25%);
    }
  }
}
