[data-dropdown-content] {
  position: absolute;
  top: 100%;
  width: fit-content;
  opacity: 0;
  transform: scaleY(0);
  max-height: 0;
  transform-origin: top;
  overflow: clip;
  transition: all 200ms ease-in-out;
  z-index: 100;
}

[data-dropdown] {
  position: relative;

  // &:hover,
  // &:focus-within,
  &.active {
    [data-dropdown-content] {
      opacity: 1;
      transform: scaleY(1);
      max-height: 1000px;
    }
  }
}
