.news-card {
  padding: 30px 15px;
  display: flex;
  gap: 12px;
  background: #ffffff;
  border-radius: 20px;

  @media screen and (max-width: 1360px) {
    flex-direction: column;
  }

  &--vertical {
    flex-direction: column;
    padding: 6px;
    background: #f7f7f7;
    border-radius: 8px;

    figure {
      flex: 0 0 180px;
      border-radius: 8px;
    }
  }

  &__image {
    flex: 0 0 288px;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: clip;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin-bottom: 16px;
    font-family: var(--ff-main);
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.01em;
    color: #32394d;
  }

  &__footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &__meta {
    display: flex;
    align-items: center;
    gap: 9px;

    time {
      font-family: var(--ff-main);
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #3c3d3f;
    }

    i {
      color: #3c3d3f;
    }
  }

  &__cta {
    font-family: var(--ff-main);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #32394d;
    opacity: 0.8;
    text-decoration: underline;
  }
}

.news-item {
  font-family: var(--ff-main);

  &__main-image {
    width: 100%;
    max-height: 477px;
    border-radius: 12px;
    overflow: clip;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__header {
    margin-block: 18px;
  }

  &__meta {
    margin-bottom: 24px;
    display: flex;
    align-items: center;

    & > * {
      height: 21px;
      font-size: 14px;

      &:not(:last-child) {
        position: relative;
        margin-right: 8px;
        padding-right: 8px;

        &::after {
          content: '';
          position: absolute;
          right: 0;
          top: -1px;
          width: 1px;
          height: 23px;
          background-color: hsla(224, 21%, 25%, 0.3);
        }
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 26px;
    font-feature-settings: 'case' on;
    color: #32394d;
  }

  &__body {
    max-width: 855px;

    & > * + * {
      margin-top: 16px;
    }

    p {
      font-weight: 400;
      font-size: 14.5px;
      letter-spacing: 0.01em;
      color: #32394d;
    }

    a {
      color: #2fa837;
      transition: color 200ms ease-in-out;

      &:hover,
      &:focus {
        color: #206e25;
      }
    }
  }

  &__image-w-quote {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #f7f7f7;
    border-radius: 17px;
    padding: 12px;

    img {
      width: 332px;
      height: 300px;
      object-fit: cover;
      border-radius: 17px;
    }

    p {
      font-size: 16px;
      line-height: 135.2%;
      letter-spacing: 0.01em;
      font-feature-settings: 'case' on;
      color: rgba(50, 57, 77, 0.9);
    }
  }

  &__gallery {
    display: flex;
    gap: 25px;
    background: #f7f7f7;
    border-radius: 17px;
    padding-inline: 12px;
    padding-block: 16px 20px;

    figure {
      flex-grow: 1;
      flex-basis: 0;
      overflow: clip;

      img {
        width: 100%;
        height: 262px;
        border-radius: 17px;
        object-fit: cover;
      }

      figcaption {
        margin-top: 12px;
      }

      p {
        font-size: 12px;
        letter-spacing: 0.01em;
        color: rgba(50, 57, 77, 0.9);
      }
    }
  }

  &__video {
    padding: 12px;
    width: 646px;
    height: 386px;
    background: #f7f7f7;
    border-radius: 17px;

    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 17px;
    }
  }

  blockquote {
    padding-block: 35px;
    padding-inline: 72px;
    background: #f7f7f7;
    border-radius: 17px;

    p {
      font-size: 16px;
      line-height: 135.2%;
      text-align: center;
      letter-spacing: 0.01em;
      font-feature-settings: 'case' on;
      color: rgba(50, 57, 77, 0.9);
    }
  }

  &__author {
    text-align: right;
    span {
      font-weight: 500;
    }
  }

  &__tags {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 12px;

    a {
      font-size: 14.5px;
      font-weight: 500;
      letter-spacing: 0.01em;
      color: #0a2fb9;
      text-decoration: none;
    }
  }
}
