.popup {
  position: fixed;
  inset: 0;

  display: none;
  place-content: center;
  z-index: 10000000000;

  &.active {
    display: grid;
  }

  &[data-petition] {
    --popup-max-w: 695px;
    --popup-padding-inline: 74px;

    @media (max-width: 780px) {
      --popup-padding-inline: 20px;
    }
  }

  &[data-petition-success] {
    --popup-max-w: 505px;
    --popup-padding-inline: 42px;
    --pupup-border-radius: 8px;

    .popup__heading {
      p {
        font-size: 13px;
      }
    }

    figure {
      display: flex;
      justify-content: center;
    }
  }

  &__backdrop {
    position: absolute;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.34);
  }

  &__content {
    position: relative;
    width: 95vw;
    max-width: var(--popup-max-w, 695px);
    background-color: var(--popup-bg, #fff);
    border-radius: var(--pupup-border-radius, 6px);
    padding-block: 24px 38px;
    padding-inline: var(--popup-padding-inline, 20px);

    font-family: var(--ff-main);
  }

  &__close {
    --size: 26px;
    position: absolute;
    top: 26px;
    right: 34px;
    width: var(--size);
    height: var(--size);

    display: block;

    background-color: transparent;
    border: 2px solid var(--clr-blue);
    border-radius: 8px;
    cursor: pointer;

    @media (max-width: 768px) {
      top: 10px;
      right: 10px;
    }

    i {
      display: block;
      pointer-events: none;
    }
  }

  &__ctas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    span {
      font-family: var(--ff-main);
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      font-feature-settings: 'case' on;
      color: #32394d;
    }

    a,
    button {
      width: 194px;
    }
  }
}

.petition__success__container {
  display: grid;

  .animation {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    img {
      width: 160px;
      height: 160px;
    }
  }

  .popup__ctas {
    height: 160px;
  }

  .popup__ctas,
  .animation {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}
