.popup {
  position: fixed;
  inset: 0;

  display: none;
  place-content: center;

  &.active {
    display: grid;
  }

  &[data-petition] {
    --popup-bg: #f8f8f8;
    --popup-max-w: 695px;
    --popup-padding-inline: 74px;

    @media (max-width: 780px) {
      --popup-padding-inline: 20px;
    }
  }

  &[data-petition-success] {
    --popup-bg: var(--clr-neutral-100);
    --popup-max-w: 505px;
    --popup-padding-inline: 42px;
    --pupup-border-radius: 8px;

    .popup__heading {
      p {
        font-size: 13px;
      }
    }

    figure {
      display: flex;
      justify-content: center;
    }
  }

  &__backdrop {
    position: absolute;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.34);
  }

  &__content {
    position: relative;
    width: 95vw;
    max-width: var(--popup-max-w, 695px);
    background-color: var(--popup-bg, #f8f8f8);
    border-radius: var(--pupup-border-radius, 6px);
    padding-block: 24px 38px;
    padding-inline: var(--popup-padding-inline, 20px);

    font-family: var(--ff-main);
  }

  &__close {
    --size: 26px;
    position: absolute;
    top: 26px;
    right: 34px;
    width: var(--size);
    height: var(--size);

    display: block;

    background-color: transparent;
    border: 2px solid var(--clr-blue);
    border-radius: 8px;
    cursor: pointer;

    @media (max-width: 768px) {
      top: 10px;
      right: 10px;
    }

    i {
      display: block;
      pointer-events: none;
    }
  }

  &__heading {
    margin-bottom: 34px;
    text-align: center;

    h2 {
      margin-bottom: 8px;

      font-weight: 700;
      font-size: 22px;
      line-height: 27px;

      letter-spacing: -0.005em;
      font-feature-settings: 'case' on;
      color: var(--clr-blue);
    }

    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 150.2%;
      letter-spacing: -0.01em;
      color: var(--clr-blue);
    }
  }

  &__ctas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    span {
      font-family: var(--ff-main);
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      font-feature-settings: 'case' on;
      color: var(--clr-blue);
    }

    a,
    button {
      width: 194px;
    }
  }
}

.popup-success {
  display: grid;

  .animation {
    display: grid;
    place-content: center;
    img {
      width: 160px;
      height: 160px;
    }
  }

  .popup__ctas {
    opacity: 0;
    // transition: opacity 200ms ease-in 100ms;
    height: 160px;

    &.shown {
      opacity: 1;
    }
  }

  .popup__ctas,
  .animation {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}
