.section {
  margin-bottom: 24px;
  padding: 36px 20px;
  background: var(--bg, #f8f8f8);
  border-radius: 11px;

  @media (max-width: 860px) {
    padding: 16px 10px;
  }

  &.chart,
  &.ratings {
    padding-block-end: 10px;
  }

  &.ratings {
    padding-inline: 0 !important;
    .section__heading {
      padding-inline: 27px;
    }
  }

  &__heading {
    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 860px) {
      margin-bottom: 10px;
    }

    @media screen and (max-width: 560px) {
      flex-direction: column;
      align-items: flex-start;

      a {
        margin-top: 8px;
        align-self: flex-end;
      }
    }
  }

  &__heading-alt {
    margin-bottom: 17px;
    padding-block: 10px;
    padding-inline: 8px;
    width: max-content;
    display: flex;
    align-items: center;

    background: #32394d;
    border-radius: 0 5px 5px 0px;

    span {
      margin-left: 8px;
      font-family: var(--ff-main);
      font-size: 1rem;
      color: #fff;
      font-feature-settings: 'case' on;
    }
  }

  &__title {
    display: flex;
    // დიდი ზომის სათაურის შემთხვევაში
    // ზემო ხაზზე გასწორება უფრო კარგად ჩანს
    align-items: flex-start;
    // align-items: center;

    img {
      margin-right: 12px;
    }

    span {
      font-family: var(--ff-main);
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 31px;
      font-feature-settings: 'case' on;
      color: #32394d;
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }
  }

  &__cta {
    font-family: var(--ff-main);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #32394d;
    opacity: 0.7;
    text-decoration: none;
  }
}
