// Position

.position {
  @each $side, $positions in $positionTypes {
    @each $position, $properties in $positions {
      &-#{$side}-#{$position} {
        @each $property, $value in $properties {
          #{$property}: #{$value};
        }
      }
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .position {
      &#{$infix} {
        &-absolute {
          position: absolute;
        }
        &-fixed {
          position: fixed;
        }
        &-static {
          position: static;
        }
      }
    }
  }
}

.z-index {
  @for $i from 0 through 10 {
    &-#{$i} {
      z-index: #{$i};
    }
  }
}
