//
// Text
//

.text {
  &-uppercase {
    -webkit-font-feature-settings: "case";
    font-feature-settings: "case" on;
  }
  &-hover {
    @each $color, $value in $theme-colors {
      &-#{$color} {
        transition: color 0.4s ease-in-out;
        &:hover {
          color: $value !important;
        }
      }
    }
  }
}

.font-size {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      @each $name, $value in $fontSizes {
        &#{$infix}-#{$name} {
          font-size: $value !important;
        }
      }
    }
  }
}

.line-height {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
      @each $name, $value in $fontSizes {
        @for $i from 0 through 2 {
          @for $d from 0 through 10 {
            &#{$infix}-#{$i}-#{$d} {
              line-height: number("#{$i}.#{$d}");
            }
          }
        }
      }
    }
  }
}

blockquote,
q {
  display: block;
  border: 1px solid $silver;
  border-radius: $card-border-radius;
  padding: 1.375rem 3rem;
  color: $green;
  font-feature-settings: "case" on;
  font-weight: bold;
  @extend .font-size-base;
  margin: 1rem 0;

  position: relative;
  &:after,
  &:before {
    display: inline;
    font-family: "icomoon" !important;
    font-size: 1.0625rem;
    position: absolute;
    color: #d9e0e5;
  }
  &:before {
    content: "\e90e";
    left: 1rem;
    top: 1.3rem;
  }
  &:after {
    content: "\e90d";
    right: 1rem;
    bottom: 1.3rem;
  }
}
