//
// Text
//

.text {
  &-uppercase {
    -webkit-font-feature-settings: "case";
    font-feature-settings: "case" on;
  }
}

.font-size {
  &-1 {
    font-size: $font-size-1;
  }
  &-2 {
    font-size: $font-size-2;
  }
  &-3 {
    font-size: $font-size-3;
  }
  &-4 {
    font-size: $font-size-4;
  }
}
