//
// Text
//

.text {
  &-uppercase {
    -webkit-font-feature-settings: "case";
    font-feature-settings: "case" on;
  }
}

.font-size {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      @each $name, $value in $fontSizes {
        &#{$infix}-#{$name} {
          font-size: $value !important;
        }
      }
    }
  }
}

.line-height {
  @for $i from 0 through 2 {
    @for $d from 1 through 10 {
      &-#{$i}-#{$d} {
        line-height: number("#{$i}.#{$d}");
      }
    }
  }
}
