@each $color, $value in $theme-colors {
  .bg-hover-#{$color} {
    &:hover {
      background-color: $value !important;
    }
  }
}

.frozen {
  pointer-events: none;
  opacity: 0.5;
  * {
    pointer-events: none;
  }
}
