@each $color, $value in $theme-colors {
  .bg-hover-#{$color} {
    transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
    &:hover {
      background-color: $value !important;
    }
  }
}

.bg-hover-transparent {
  &:hover {
    background-color: transparent !important;
  }
}

@each $color, $value in $theme-colors {
  @for $i from 0 through 1 {
    @for $d from 0 through 10 {
      .bg-#{$color}-#{$i}-#{$d} {
        background-color: rgba($value, number("#{$i}.#{$d}"));
      }
    }
  }
}

.bg-gradient {
  &-green {
    background-image: $green-gradient;
  }
  &-warning {
    background-image: $warning-gradient;
  }
}

.bg-parliament {
  background: url(../images/parliament.png) no-repeat center bottom,
    $green-gradient;
  background-size: cover;
}

.bg-school {
  background: url(../images/school/1.png) no-repeat -200px 200px,
    url(../images/school/2.png) calc(-250px / 2) 25% / 250px auto no-repeat,
    url(../images/school/3.png) calc(-250px / 2) 30% / 250px auto no-repeat,
    url(../images/school/4.png) -350px 55% / 500px auto no-repeat,
    url(../images/school/5.png) calc(100% + 180px) 150px / 300px auto no-repeat,
    url(../images/school/6.png) calc(100% + 130px) 25% / 250px auto no-repeat,
    url(../images/school/7.png) calc(100% + 160px) 30% / 250px auto no-repeat,
    url(../images/school/8.png) calc(100% + 350px) 50% / 500px auto no-repeat;

  @media screen and (min-width: calc(#{map-get($grid-breakpoints, "xl")} + 300px)) {
    background: url(../images/school/1.png) no-repeat -100px 200px,
      url(../images/school/2.png) calc(-250px / 4) 25% / 250px auto no-repeat,
      url(../images/school/3.png) calc(-250px / 4) 30% / 250px auto no-repeat,
      url(../images/school/4.png) -230px 55% / 500px auto no-repeat,
      url(../images/school/5.png) calc(100% + 150px) 150px / 300px auto
        no-repeat,
      url(../images/school/6.png) calc(100% + 100px) 25% / 250px auto no-repeat,
      url(../images/school/7.png) calc(100% + 100px) 30% / 250px auto no-repeat,
      url(../images/school/8.png) calc(100% + 250px) 50% / 500px auto no-repeat;
  }
  @media screen and (max-width: map-get($grid-breakpoints, "lg")) {
    background: transparent;
  }
}
.bg-subjects {
  background: url(../images/school/section-bg.png) center center / 100%;
}
.bg-process {
  background: url(../images/school/bg-process-1.png) -80px center / 200px no-repeat,
    url(../images/school/bg-process-2.png) right bottom / 200px no-repeat;
}
.frozen {
  pointer-events: none;
  opacity: 0.4;
  * {
    pointer-events: none;
  }
}

.bg-green-newsfeed {
  background: url(../images/green-newsfeed-bg-1.png) 100% 5% / 150px no-repeat,
    url(../images/green-newsfeed-bg-2.png) 0% 90% / 80px no-repeat;
}
