// Card
.card {
  &-map {
    height: 270px;
    width: 100%;
    @media screen and (min-width: map-get($grid-breakpoints, "md")) {
      height: 450px;
    }
  }
  &-subtitle {
    margin-top: 0;
  }
  &-divider {
    margin-left: -$card-spacer-x;
    margin-right: -$card-spacer-x;
  }
  &-body {
    // box-shadow: 0px 1px 0 0 $card-body-shadow-color;
  }
  &-text {
    font-size: $card-text-font-size;
  }
  &-header {
    border-bottom: $card-header-border-width solid $card-header-border-color;
    .navbar-toggler {
      line-height: 0.95;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  &-view-all {
    display: flex;
    align-items: center;
    [class^="icon-"] {
      display: inline-block;
      transition: transform 0.4s;
      margin-left: 0.5rem;
    }
    &:hover {
      [class^="icon-"] {
        transform: translateX(3px);
      }
    }
  }
}
