.owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;

  .owl-dot {
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    *display: inline;

    span {
      width: $dot-width;
      height: $dot-height;
      margin: $dot-margin;
      background: $dot-background;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px;
    }

    &.active,
    &:hover {
      span {
        background: $dot-background-active;
      }
    }
  }
}
