@import "_function";
.defence {
    height: px(333);
    width: 100%;
}
.section-content p {
    font-size: px(14);
}

.defence-list {
    margin: auto;
    margin-top: px(15);
}
.list-second {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #93e599;
    color: #93e599;
    padding: 0;
    font-size: px(22);
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        border-bottom: 2px solid #ffa823;
        color: white;
        transition: all 0.3s;
        a {
            text-decoration: none;
            transition: all 0.5s;
            color: white;
        }
    }
    a {
        // border-bottom: 2px solid #93e599;
        color: #93e599;
    }
}
.list > .list-second:first-child {
    border-bottom-left-radius: 0rem;
}

.list > .list-second {
    border-bottom-right-radius: 0rem;
}
// .list-group-horizontal > .list-group-item.active {
//     border-bottom: 2px solid #ffa823;
// }
.defence-text {
    padding-top: px(50);
    p {
        margin: auto;
    }
}
.defence-button {
    margin: auto;
    margin-top: px(30);
}
.defence-box:nth-child(1) {
    margin-left: px(30);
}
.defence-box:nth-child(2) {
    width: 25%;
}
.media-thumb {
    a {
        img {
            width: 390px;
            margin-top: 22px;
            border-radius: 11px;
        }
    }
}
.defence-boxes {
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.btn-primary {
    // width: px(150);
    // background-color: #ffa823;
    // border-color: transparent;
    // padding: px(13);
    // font-size: px(16);
}
.btn:hover {
    // color: #fff;
    // background-color: #fc9800;
    // border-color: #ef9000;
}
.defence-img {
    img {
        height: px(300) !important;
        margin-left: 10%;
    }
}

.section {
    height: 600px;
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    z-index: 0;
    &-boxes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 120px;
        width: 90%;
        margin: auto;
    }
    &-box:nth-child(1) {
        width: 65%;
        padding: px(40);
    }
    &-num {
        height: 100px;
        position: relative;
        &::after {
            // content: url("../images/mask-dark.png");
            position: absolute;
            top: 20%;
            left: 24%;
        }
        h1 {
            font-size: px(80);
            color: #ffa823;
        }
    }
    &-title {
        font-size: px(26);
        color: #327f37;
        font-family: FiraGO;
        line-height: px(32);
    }
    &-img {
        width: px(370);
        img {
            width: 100%;
        }
    }
    &-content {
        p {
            font-size: px(13);
        }
    }
}
.masonry-card-icon:before {
    height: 4px !important;
}
.masonry-card-icon:after {
    height: 4px !important;
}
.defence-footer-boxes {
    display: block;
    text-align: center;
    padding-top: 15px;
}
.defence-footer-box {
    display: block;
    text-align: center;
}
.section:nth-child(odd) {
    background: #fff;
}

.section-num:nth-child(even) {
    &::after {
        content: "";
        width: 30%;
        height: 61px;
        position: absolute;
        left: 29.8%;
        top: 30%;
        background-image: url(../images/mask-white.png);
        background-repeat: no-repeat;
        background-size: 94%;
        border-radius: 50px;
    }
}
.section-num:nth-child(odd) {
    &::after {
        content: "";
        width: 88%;
        height: 61px;
        position: absolute;
        right: 0;
        background-image: url(../images/mask-dark.png);
        background-repeat: no-repeat;
        background-size: 94%;
        border-radius: 50px;
    }
}

/* end sixth*/
.sponsors {
    background: #f7f7f7;
    height: px(400);
    margin-top: px(60);
    &-box {
        width: px(240);
        height: px(170);
        background: #fff;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
        text-align: center;
        padding-top: px(35);
        border-radius: 10px;
    }
    &-boxes {
        width: 90%;
        margin: auto;
        margin-top: px(40);
    }
    &-title {
        padding-top: px(70);
    }
}
#active {
    border-bottom: 2px solid #ffa823;
    color: white;
    transition: all 0.3s;
    a {
        text-decoration: none;
        transition: all 0.5s;
        color: white;
    }
}
/* end scroll*/
/* start video popap*/
.modal-w {
    max-width: 800px;
}
// .modal-title {
//     padding-top: px(6);
// }
