.list-group {
  &-item-action {
    &.expanded {
      background: $dark-white;
      [data-toggle="collapse"] {
        &:before {
          display: block;
          transform: rotate(180deg);
        }
      }
    }
  }
  [data-toggle="collapse"] {
    outline: none;
  }
}
