select.select {
  display: none;
}

.bootstrap-select {
  *:focus {
    outline: none !important;
  }

  .dropdown-item {
    align-items: center !important;
    justify-content: flex-start !important;
  }
}

.bootstrap-select:not(.form-control) {
  .dropdown-menu {
    transform: initial !important;
    max-width: 100%;
    border-radius: $btn-border-radius-lg !important;
    box-shadow: 0px 0.1875rem 1rem 0 rgba(0, 0, 0, 0.05);
    border: 0;
    .text {
      border-top: 1px solid $border-color;
      display: block !important;
      margin: 0 10px;
      padding: 5px 0;
      &:after {
        font-family: icomoon !important;
        content: "\e913";
        display: inline-block;
        width: 1.8rem;
        height: 1.8rem;
        background-color: #ecf1f5;
        border-radius: 50rem;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.2rem;
        line-height: 2.3;
        color: #999;
        font-size: 0.8rem;
        letter-spacing: 1px;
        display: none;
      }
    }

    .bs-searchbox {
      padding: 0;
    }
    .form-control {
      border: 0;
      box-shadow: initial;
      border-radius: 0;
      padding: 1.5625rem;
      font-size: 1rem;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      color: $success;
    }
  }

  .dropdown-item {
    border-radius: 0;
    padding: 0;
    &.active,
    &:active {
      .text {
        border-color: transparent;
      }
    }
    &:not(.active):not(:active) {
      .text {
        &:hover:after {
          display: block;
        }
      }
    }
  }

  .dropdown-toggle {
    padding: 4.9px;
  }
  .bs-placeholder {
    padding-top: 1.15rem !important;
    padding-bottom: 1.15rem !important;
    .filter-option-inner {
      &-inner {
        padding-left: 4rem;
        font-size: 0.75rem;
        font-weight: bold;
        line-height: 1.4;
        &:before {
          font-family: icomoon !important;
          content: "\e913";
          display: inline-block;
          width: 2.5rem;
          height: 2.5rem;
          background-color: #ecf1f5;
          border-radius: 50rem;
          text-align: center;
          position: absolute;
          top: 0.4375rem;
          left: 0.5rem;
          line-height: 2.8;
          color: #999;
          font-size: 0.875rem;
          letter-spacing: -1.5px;
        }
      }
    }
  }
  .no-results {
    margin: 0 !important;
    padding: 10px !important;
    text-align: center;
    font-size: 0.825rem;
  }
}

.bootstrap-select.form-control {
  .dropdown-toggle {
    outline: none !important;
    border: 1px solid $silver;
    box-shadow: none !important;
    padding: 0.563rem 1.1rem;
    &:after {
      content: "\e903";
      font-family: icomoon !important;
      speak: none;
      font-style: normal;
      font-size: 12px;
      font-size: 0.75rem !important;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      padding-top: 2px;
      color: $silver;
    }

    &.btn-lg {
      padding: 1rem 1.5rem !important;
      line-height: 1 !important;
    }
  }

  .dropdown-header {
    padding: 0 15px;
    margin: 10px 0;
  }

  li a.opt {
    padding-left: 1.25em !important;
  }

  &.show {
    .dropdown-toggle {
      &:after {
        content: "\e903";
        transform: rotate(-180deg);
        padding-top: 0px;
        padding-bottom: 2px;
      }

      border-radius: 1.5rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .dropdown-item {
    background: transparent !important;
    border-radius: initial;
    outline: none !important;

    display: flex;
    align-items: flex-start;

    .text {
      margin-right: 5px !important;
      white-space: initial;
      flex: 1;
      line-height: 1.5;
    }

    .check-mark {
      position: static !important;
      border: 1px solid $silver;
      width: 16px;
      height: 16px;
      display: inline-block;
      margin: 0 10px;
      &:before {
        padding: 1px;
        padding: 1.5px;
      }
      &:after {
        display: none !important;
      }
    }

    &:not(.selected) {
      .text {
        color: $grey;
      }
      .check-mark {
        &:before {
          content: " ";
          display: inline-block;
        }
      }
    }

    &.selected {
      .text {
        color: $success;
      }
      .check-mark {
        color: $success;
        &:before {
          content: "\e904";
          display: inline-block;
          font-family: icomoon !important;
          speak: none;
          font-style: normal;
          font-size: 0.65rem !important;
          font-weight: bold;
          font-variant: normal;
          text-transform: none;
          display: inline-block;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
  }

  .dropdown-menu {
    padding: 10px 0px;
  }
}

.select.tree-select {
  & ~ .dropdown-menu {
    .dropdown-header {
      cursor: pointer;
      white-space: initial;
      position: relative;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &:before {
        content: "";
        border: 1px solid #d4dadf;
        width: 16px;
        height: 16px;
        display: inline-block;
        margin: 0 10px;
      }

      &:after {
        content: "\e904";
        position: absolute;
        font-family: icomoon !important;
        speak: none;
        font-style: normal;
        font-size: 0.65rem !important;
        font-weight: 700;
        font-variant: normal;
        text-transform: none;
        display: inline-block;
        color: $success;
        -webkit-font-smoothing: antialiased;
        left: 17px;
        top: 4px;
        opacity: 0;
      }

      &.selected {
        color: $success;
        &:after {
          opacity: 1;
        }
      }
    }
  }
}
