@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .align {
      &#{$infix} {
        &-top {
          vertical-align: top !important;
        }
        &-bottom {
          vertical-align: bottom !important;
        }
        &-middle {
          vertical-align: middle !important;
        }
      }
    }
  }
}
