@import "~bootstrap/scss/_functions";

// Color system

$light-green: #2fa837;
$green: #327f37;
$yellow: #ffa823;
$silver: #d4dadf;
$light-silver: #efeff0;
$dark-silver: #b4bfc7;
$grey: #919499;
$light-grey: #ebeff2;
$blue: #32394d;
$dark-blue: #33353c;
$red: #ef3233;
$white: #ffffff;
$dark-white: #f7f7f7;

$colors: () !default;
$colors: map-merge(
  (
    "light-green": $light-green,
    "green": $green,
    "yellow": $yellow,
    "silver": $silver,
    "light-silver": $light-silver,
    "dark-silver": $dark-silver,
    "grey": $grey,
    "light-grey": light-grey,
    "blue": $blue,
    "dark-blue": dark-blue,
    "red": $red,
    "white": $white,
    "dark-white": $dark-white
  ),
  $colors
);

$primary: $blue !default;
$secondary: $silver !default;
$success: $green !default;
$info: lighten($blue, 50) !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $light-grey !default;
$dark: $dark-blue !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "white": $white,
    "dark-white": $dark-white,
    "grey": $grey,
    "light-silver": $light-silver,
    "dark-silver": $dark-silver,
    "light-green": $light-green
  ),
  $theme-colors
);

$yiq-contrasted-threshold: 200 !default;
$emphasized-link-hover-darken-percentage: 3% !default;

// Buttons + Forms

$input-color: $blue;
$input-placeholder-color: $dark-silver !default;
$input-border-radius: 50rem !default;
$input-border-radius-lg: 50rem !default;
$input-border-radius-sm: 50rem !default;
// $input-font-size: $input-btn-font-size !default;
$input-line-height: 1 !default;
// $input-font-size-sm: $input-btn-font-size-sm !default;
$input-line-height-sm: 1 !default;
$input-padding-x-lg: 1.5rem !default;
$input-font-size-lg: 0.875rem !default;
$input-line-height-lg: 1.143 !default;
$input-btn-font-size: 0.875rem !default;
$input-btn-padding-y: 0.563rem !default;
$input-btn-padding-x: 1.475rem !default;

$btn-padding-y-sm: 0.6rem !default;
$btn-padding-x-sm: 1.3rem !default;
$btn-font-size-sm: 0.75rem !default;
$btn-line-height-sm: 1 !default;

$input-btn-padding-y-lg: 1rem !default;
$input-btn-padding-x-lg: 1.583rem !default;
$input-btn-font-size-lg: 1rem !default;
$input-btn-line-height-lg: 1 !default;

$btn-border-radius: 50rem !default;
$btn-border-radius-lg: 50rem !default;
$btn-border-radius-sm: 50rem !default;

$input-label-font-size: 0.75rem !default;
$input-label-color: $grey !default;
$input-label-margin-x: $input-padding-x-lg;
$input-label-margin-y: 0.5rem;

$input-checkbox-border-color: $silver;
$input-checkbox-border-width: 0.0625rem;
$input-checkbox-border-radius: 0.25rem;

$form-text-margin-top: 0.5rem !default;
$form-text-margin-x: $input-padding-x-lg !default;

$form-check-label-font-size: 0.75rem !default;
$form-check-label-line-height: 1.3 !default;
$form-check-label-color: $grey !default;
$form-check-input-gutter: 0 !default;
$form-check-label-padding-left: 0.5rem !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.75 !default;
$font-size-lg: $font-size-base * 0.875 !default;
$font-size-xl: $font-size-base * 1.125 !default;
$line-height-base: 1.5 !default;
$font-family-firaGo: "FiraGO" !default;
$font-family-base: $font-family-firaGo !default;

// Navbar brand
//
// Used for brand, project, or site names.

$navbar-brand-font-size: 1.625rem !default;

$navbar-brand-lg-font-size: 4.0625rem !default;
$navbar-brand-sm-font-size: 2.875rem !default;

$navbar-light-color: $success;
$navbar-dark-color: $grey;
$navbar-dark-hover-color: rgba($grey, 1) !default;
$navbar-dark-disabled-color: rgba($grey, 1) !default;
$navbar-dark-active-color: rgba($grey, 1) !default;
$navbar-light-hover-color: rgba($success, 1) !default;
$navbar-light-active-color: rgba($success, 1) !default;
$navbar-light-disabled-color: rgba($success, 1) !default;
$navbar-padding-y: 2.25rem !default;
$navbar-padding-x: 0 !default;
$navbar-nav-sm-font-size: 0.75rem !default;

// Borders
$border-color: #dee2e6 !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret: false !default;

// Progress bars

$progress-bg: $dark-blue;
$progress-border-radius: 0 !default;
$progress-height: 3.75rem !default;
$progress-font-size: $font-size-base * 0.8125 !default;
$progress-box-shadow: initial !default;
$progress-bar-bg: $light-green !default;
// $progress-bar-bg: transparent !default;
$progress-bar-animation-timing: initial !default;
$progress-bar-transition: width 2s cubic-bezier(0.785, 0.135, 0.15, 0.86),
  padding 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) !default;
$progress-bar-border-radius: 50rem !default;
$progress-bar-value-font-size: 1.375rem !default;
$progress-bar-value-padding-y: 0.219rem !default;
$progress-bar-value-padding-x: 1rem !default;
$progress-bar-value-margin-x: 0.6rem !default;
$progress-bar-label-padding: 1rem !default;
