<!-- Start of footer -->
<footer>
  <!-- Start of footer 1st row -->
  <div class="bg-white">
    <div class="container">
      <nav class="navbar py-3 flex-column flex-lg-row">
        <a
          class="navbar-brand d-flex align-items-center text-uppercase"
          href="index.html"
        >
          <i class="icon-girchi-logo-alt navbar-brand-sm text-success mr-3"></i>
          <span class="text-success font-weight-bold font-size-4">გირჩი</span>
          <span class="text-warning  border-left py-1 ml-3 pl-3 font-size-4"
            >მეტი თავისუფლება</span
          >
        </a>
        <ul
          class="navbar-list list-unstyled d-inline-flex font-size-4 ml-lg-auto mr-lg-3 mb-0"
        >
          <li class="navbar-list-item">
            <i class="icon-smartphone"></i>
            <a href="tel:+995551677772">+995 551 677 772</a>
          </li>
          <li class="navbar-list-item">
            <i class="icon-envelope"></i>
            <a href="mailto:info@girchi.com" class="text-uppercase"
              >info@girchi.com</a
            >
          </li>
        </ul>

        <ul class="navbar-list list-unstyled d-inline-flex font-size-2 mb-0">
          <li class="navbar-list-item">
            <a href="#" target="_blank" class="text-decoration-none">
              <i class="icon-social-facebook-circular-button"></i
            ></a>
          </li>
          <li class="navbar-list-item">
            <a href="#" target="_blank" class="text-decoration-none">
              <i class="icon-social-twitter-circular-button"></i
            ></a>
          </li>
          <li class="navbar-list-item">
            <a href="#" target="_blank" class="text-decoration-none"
              ><i class="icon-social-youtube-circular-button"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- End of footer 1st row -->
  <!-- Start of footer 1st row -->
  <div class="container">
    <!-- Start of nav -->
    <nav
      class="navbar navbar-expand-lg navbar-dark border-bottom border-secondary d-none d-lg-flex"
    >
      <!-- Start of menu -->
      <ul class="navbar-nav font-size-1 text-uppercase mx-n2">
        <li class="nav-item">
          <a class="nav-link" href="#">ლეგალიზაცია</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">თავისუფალი განათლება </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ნამდვილი თავდაცვა </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ძალაუფლება ხალხს </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ჩვენი ხედვა </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ჩვენი ამბავი </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">მთავარი პრობლემა </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">როგორი ქვეყანა გვინდა</a>
        </li>
      </ul>

      <!-- End of menu -->
    </nav>
    <!-- End of nav -->
    <div class="py-4">
      <p
        class="text-grey font-size-1 text-uppercase text-center text-lg-left mb-0"
      >
        © ყველა უფლება დაცულია. გირჩი 2019.
      </p>
    </div>
  </div>
  <!-- End of footer 1st row -->
</footer>
<!-- End of footer -->
