<!-- footer -->
<footer class="footer">
  <div class="footer__top">
    <div class="footer__logo">
      <img src="../images/logo.png" alt="" />

      <span>გირჩი</span>
    </div>

    <ul class="footer__contact contact-footer">
      <li class="contact-footer__item">
        <a class="contact-footer__link contact-footer__link--mail" href="#" target="_blank" rel="noopener noreferrer" aria-label="mail">
          <svg xmlns="http://www.w3.org/2000/svg">
            <path
              d="M30.288 6H7.632C6.732 6 6 6.733 6 7.632v13.029c0 .9.732 1.632 1.632 1.632h22.656c.9 0 1.632-.732 1.632-1.632V7.631c0-.9-.732-1.631-1.632-1.631Zm-6.315 7.351 6.976-5.833a.67.67 0 0 1 .011.115V20.62l-6.987-7.27ZM6.96 20.621V7.633c0-.04.005-.078.012-.115l6.975 5.833-6.987 7.27Zm.842-13.66H30.12l-10.834 9.06a.511.511 0 0 1-.646.002L7.802 6.96Zm-.17 14.372-.023-.002 7.076-7.363 3.34 2.793a1.48 1.48 0 0 0 1.872-.002l3.338-2.79 7.076 7.361c-.008 0-.015.003-.023.003H7.632Z"
            />
          </svg>

          <span>Info@girchi.com</span>
        </a>
      </li>

      <li class="contact-footer__item">
        <a class="contact-footer__link contact-footer__link--fb" href="#" target="_blank" rel="noopener noreferrer" aria-label="facebook">
          <svg xmlns="http://www.w3.org/2000/svg">
            <g>
              <circle cx="16" cy="16" r="15.25" />
              <path
                d="M20.5 8.5h-2.25a3.75 3.75 0 0 0-3.75 3.75v2.25h-2.25v3h2.25v6h3v-6h2.25l.75-3h-3v-2.25a.75.75 0 0 1 .75-.75h2.25v-3Z"
              />
            </g>
          </svg>
        </a>
      </li>

      <li class="contact-footer__item">
        <a class="contact-footer__link contact-footer__link--tw" href="#" target="_blank" rel="noopener noreferrer" aria-label="twitter">
          <svg xmlns="http://www.w3.org/2000/svg">
            <g>
              <circle cx="16" cy="16" r="15.25" />
              <path
                d="M24.25 9.25a8.174 8.174 0 0 1-2.355 1.147A3.36 3.36 0 0 0 16 12.647v.75A7.994 7.994 0 0 1 9.25 10s-3 6.75 3.75 9.75a8.73 8.73 0 0 1-5.25 1.5c6.75 3.75 15 0 15-8.625 0-.21-.02-.418-.06-.623a5.79 5.79 0 0 0 1.56-2.752v0Z"
              />
            </g>
          </svg>
        </a>
      </li>

      <li class="contact-footer__item">
        <a class="contact-footer__link contact-footer__link--yt" href="#" target="_blank" rel="noopener noreferrer" aria-label="youtube">
          <svg xmlns="http://www.w3.org/2000/svg">
            <g>
              <circle cx="16" cy="16" r="15.25" />
              <path
                d="M23.517 11.815a2.12 2.12 0 0 0-.499-.945 1.958 1.958 0 0 0-.88-.555C20.916 10 16.028 10 16.028 10s-4.889 0-6.11.345c-.335.1-.639.291-.88.555-.243.263-.415.59-.5.945a22.927 22.927 0 0 0-.326 3.967c-.008 1.34.101 2.679.327 3.998.093.345.269.659.51.91.242.253.54.435.868.53 1.222.345 6.11.345 6.11.345s4.89 0 6.111-.345c.335-.1.638-.291.88-.555a2.12 2.12 0 0 0 .499-.945c.222-1.3.331-2.617.326-3.938a22.924 22.924 0 0 0-.326-3.997Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path d="m14.429 18.264 4.086-2.452-4.086-2.453v4.905Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </g>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <div class="footer__bottom">
    <nav class="footer__nav nav-footer">
      <ul class="nav-footer__list">
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">ლეგალიზაცია</a>
        </li>
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">თავისუფალი განათლება</a>
        </li>
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">ნამდვილი თავდაცვა</a>
        </li>
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">ძალაუფლება ხალხს</a>
        </li>
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">ჩვენი ხედვა</a>
        </li>
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">ჩვენი ამბავი</a>
        </li>
        <li class="nav-footer__item">
          <a href="#" class="nav-footer__link">როგორი ქვეყანა გვინდა</a>
        </li>
      </ul>
    </nav>
    <div class="footer__copy">
      <p>ყველა საავტორო უფლების თავზეც გავიარეთ.გირჩი</p>
    </div>
  </div>
</footer>
