<!-- header -->
<header class="header">
  <div class="container header__container">
    <!-- header top -->
    <div class="header__top">
      <h1 class="header__logo">
        <a href="index.html">
          <img src="../images/logo.png" alt="" />

          <span>გირჩი</span>
        </a>
      </h1>

      <button class="open-nav" aria-label="open navigation menu">
        <i class="fa-solid fa-bars"></i>
      </button>

      <div class="header__ctas">
        <a class="header__cta header__cta--brand" href="#">შესვლა</a>
        <a class="header__cta header__cta--accent" href="#">რეგისტრაცია</a>
      </div>
    </div>

    <!-- header bottom -->
    <div class="header__bottom">
      <nav class="header__nav nav">
        <h2 class="sr-only">ნავიგაცია</h2>
        <!-- 
              <button class="close-nav">
                <i class="fa-solid fa-xmark"></i>
              </button> -->

        <div class="header__ctas mobile-only">
          <a class="header__cta header__cta--brand" href="#">შესვლა</a>
          <a class="header__cta header__cta--accent" href="#">რეგისტრაცია</a>
        </div>

        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">დეპუტატის წერილები</a>
          </li>

          <li class="nav__item dropdown" data-dropdown>
            <button class="nav__btn">
              <span>ჩვენს შესახებ</span>
              <i class="fa-solid fa-angle-down"></i>
            </button>

            <ul class="nav__dropdown dropdown-nav" data-dropdown-content>
              <li class="dropdown-nav__item">
                <a class="dropdown-nav__link" href="#">ლინკი</a>
              </li>
              <li class="dropdown-nav__item">
                <a class="dropdown-nav__link" href="#">ლინკი</a>
              </li>
            </ul>
          </li>

          <li class="nav__item dropdown" data-dropdown>
            <button class="nav__btn">
              <span>სიახლეები</span>
              <i class="fa-solid fa-angle-down"></i>
            </button>

            <ul class="nav__dropdown dropdown-nav" data-dropdown-content>
              <li class="dropdown-nav__item">
                <a class="dropdown-nav__link" href="#">ლინკი</a>
              </li>
              <li class="dropdown-nav__item">
                <a class="dropdown-nav__link" href="#">ლინკი</a>
              </li>
            </ul>
          </li>

          <li class="nav__item dropdown" data-dropdown>
            <button class="nav__btn">
              <span>ეთერები</span>
              <i class="fa-solid fa-angle-down"></i>
            </button>

            <ul class="nav__dropdown dropdown-nav" data-dropdown-content>
              <li class="dropdown-nav__item">
                <a class="dropdown-nav__link" href="#">ლინკი</a>
              </li>
              <li class="dropdown-nav__item">
                <a class="dropdown-nav__link" href="#">ლინკი</a>
              </li>
            </ul>
          </li>

          <li class="nav__item dropdown" data-dropdown>
            <button class="nav__btn">
              <span>თარგმანები</span>
              <i class="fa-solid fa-angle-down"></i>
            </button>

            <ul class="nav__dropdown dropdown-nav" data-dropdown-content>
              <li class="dropdown-nav__item">
                <a class="dropdown-nav__link" href="#">ლინკი</a>
              </li>
              <li class="dropdown-nav__item">
                <a class="dropdown-nav__link" href="#">ლინკი</a>
              </li>
            </ul>
          </li>

          <li class="nav__item">
            <a class="nav__link" href="#">გაზეთი</a>
          </li>

          <li class="nav__item">
            <a class="nav__btn-block" href="#">დაგვაფინანსე</a>
          </li>
        </ul>
      </nav>

      <form action="#" class="header__search search">
        <input class="search__input" type="search" name="search" id="search" placeholder="ძებნა..." />
        <button class="search__btn" type="submit" aria-label="search">
          <svg xmlns="http://www.w3.org/2000/svg">
            <path d="M11 19.668c4.418 0 8-3.673 8-8.205s-3.582-8.205-8-8.205-8 3.673-8 8.205 3.582 8.205 8 8.205ZM21 21.72l-4.35-4.462" />
          </svg>
        </button>
      </form>
    </div>
  </div>
</header>
