.video-embed-field-provider-youtube,
.video-embed-field-responsive-video {
  all: unset;

  iframe {
    all: unset;
  }
}

.video-embed-field-responsive-video {
  &:after {
    padding-bottom: 0 !important;
  }
}
